// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



html,body {
	padding: 0px;
	margin: 0px;
	background-image: asset-data-url("background-book.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.container-index {
	background-color: #ffffff;
	opacity: 0.8;
	margin: 100px 10px 0px 10px;
	padding: 30px 10px 10px 10px;
}

.container-update {
	background-color: #ffffff;
	opacity: 0.8;
	margin: 100px 10px 0px 10px;
	padding: 30px 10px 10px 10px;
}

.DeviseForm {
	margin: 160px 20px 20px 0px;
	background-color: #ffffff;
	padding: 5px 30px 15px 30px;
  background-color: #fffffc;
  opacity: 0.8;
}

.DeviseFormEdit {
	margin: 60px 20px 20px 0px;
	background-color: #ffffff;
	padding: 5px 30px 15px 30px;
  background-color: #fffffc;
  opacity: 0.8;
}

.DeviseForm .btn {
	border-radius: 0px;
}

.DeviseFormEdit .btn {
	border-radius: 0px;
}

.DeviseForm .form-control {
	border-radius: 0px;
}

.form-group1 .form-control {
	border-radius: 0px;
	text-transform: capitalize;
}

#date_field {
	border-radius: 0px;
	text-transform: lowercase;
}

.form-group1 .btn {
	border-radius: 0px;
}
